:root {
    --primary: #cec8c8;
    --secundary: #4f46e5;
    --accebte: #8b5cf6;
    --text: #1f2937;
    --light: #f2f4f4f6;
}

* {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}


body {
    font-family: sans-serif, arial, system-ui;
    font-size: 1rem;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 35px;
    text-align: right;
    margin: 2px;
    padding: 10px;

}


.hero {
    display: flex;
}

.img {
    height: 0%;
    width: 0%;
    max-width: 15%;
    object-fit: cover;
    border-radius: 2%;

}

.info {
    display: flex;
    text-align: center;
    justify-content: center;
}

.div span {
    height: 10px;
    width: 10px;

}

.about-me {
    text-align: justify;
    color: var(--text);
    padding: 8px;
}

section h2 {
    background-color: var(--primary);
}

.skills-list {
    display: flex;
    justify-content: center;
    color: var(--accebte);
    
}

footer {
    background-color: var(--text);
    color: var(--light);
    padding: 2px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}